<head>
  <title>{{page.title}}</title>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href=
  {{#unless bootstrap}}
    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {{else}}
    "bootstrap/css/bootstrap.min.css">
  {{/unless}}
  
  <!-- Google Code Prettify -->
  <link rel="stylesheet" href=
  {{#unless prettify}}
    "http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css">
  {{else}}
    "google-code-prettify/prettify.css">
  {{/unless}}
     
  <link href="stylesheets/fluid_layout.css" rel="stylesheet">
  <link href="stylesheets/custom.css" rel="stylesheet">
</head>