<head>
  <title>{{page_header}}</title>
  
  
  <link href=
  {{#if bootstrap}}
    http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css
  {{else}}
    "bootstrap/css/bootstrap.min.css" 
  {{/if}}
   rel="stylesheet">
  
  <link href="stylesheets/fluid_layout.css" rel="stylesheet">
</head>